BasedOnStyle: Google

AccessModifierOffset: -2

AlignConsecutiveAssignments: true

AllowAllArgumentsOnNextLine: false

AllowAllParametersOfDeclarationOnNextLine: false

AllowShortBlocksOnASingleLine: Empty

AllowShortCaseLabelsOnASingleLine: true

AllowShortFunctionsOnASingleLine: Inline

AllowShortLambdasOnASingleLine: All

BreakAfterReturnType: Automatic

BinPackArguments: false

BinPackParameters: false

ColumnLimit: 0

CompactNamespaces: false

ContinuationIndentWidth: 4

Cpp11BracedListStyle: true

EmptyLineBeforeAccessModifier: LogicalBlock

FixNamespaceComments: true

IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
    - Regex: '^<ext/.*\.h>'
      Priority: 2
    - Regex: '^<.*\.h>'
      Priority: 1
    - Regex: '^<.*'
      Priority: 2
    - Regex: '.*'
      Priority: 3

IndentWidth: 4

KeepEmptyLines:
    AtEndOfFile: true
    AtStartOfBlock: true
    AtStartOfFile: false

MaxEmptyLinesToKeep: 1

TabWidth: 4

UseTab: Never

SeparateDefinitionBlocks: Always

QualifierAlignment: Left
